/*     CSS custom properties     */

:root {

//Colors
--primary: var(--orange);
--secondary: var(--yellow);

--orange: #f7bb0a;
--yellow: #fccf4e;
--black: #232324;
--grey: #9b9b9b;
--grey-100: #c0c0c0;
--white: #ffffff;
--bg-grey: #f9f9f9;

//Typography
--primary-font: Geometria;

}