<section class="advantages">
  <div class="color-black">
    <div class="container pt-4 pt-md-5 pb-4 pb-md-5">

      <!--          Headline          -->

      <div class="advantages__headline headline">
        <h2 class="center mb-3 mb-md-4"><span></span>Преимущества работы с нами</h2>
      </div>

<!--          /Headline          -->
<!--          Преимущества          -->

      <div class="row">
        <div class="advantages__plus col-12 col-md-4 mb-3">
          <div class="advantages__mask">
            <div class="advantages__plus-icon">
              <img src="../../../../../assets/img/plus-1.png" alt="">
            </div>
            <h4 class="mb-3">Точный расчёт стоимости перед началом работ</h4>
            <div class="advantages__plus-description">
              <p>Стоимость зафиксированная в смете закрепляется и не меняется до окончания ремонтных работ.</p>
            </div>
          </div>
        </div>
        <div class="advantages__plus col-12 col-md-4 mb-3">
          <div class="advantages__mask">
            <div class="advantages__plus-icon">
              <img src="../../../../../assets/img/plus-2.png" alt="">
            </div>
            <h4 class="mb-3">Никаких скрытых обязательств и “подводных камней”</h4>
            <div class="advantages__plus-description">
              <p>Наличие сметы не обязывает заказывать именно у нас, однако при наличии сметы Вы сможете сравнить цены и подход к работе, а потом сделать вывод, основываясь на чём-то конкретном.</p>
            </div>
          </div>
        </div>
        <div class="advantages__plus col-12 col-md-4 mb-3">
          <div class="advantages__mask">
            <div class="advantages__plus-icon">
              <img src="../../../../../assets/img/plus-3.png" alt="">
            </div>
            <h4 class="mb-3">Быстрый замер и составление сметы</h4>
            <div class="advantages__plus-description">
              <p>Приедем на замер в день обращения, а смету с точной стоимостью работ предоставим уже на следующий день.</p>
            </div>
          </div>
        </div>
      </div>

<!--          /Преимущества          -->

    </div>
  </div>
</section>
